/*
* reset.css 重置浏览器默认样式（全局）
* 注意：reset.css 不要轻易修改。
*/

body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
i,
b,
textarea,
button,
input,
select {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    height: 100%;
    width: 100%;
}

fieldset,
img {
    border: 0;
}

a {
    text-decoration: none;
}

input:read-only {
    background-color: #fff;
}

input,
button,
select,
textarea {
    outline: none;
}

input[type='text']:focus {
    outline: 0;
}