/*
* common.css 项目全局公用css
* 注意：common.css 是根据项目情况来定，不同项目common.css可以不一样
*/

@import url('//at.alicdn.com/t/font_1549387_bv1cthp04lo.css');
html,
body {
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background: #fff;
    margin: 0 auto;
    border: none;
    color: #666;
    font-family: 'Helvetica', 'Microsoft Yahei';
}

a,
i.iconfont {
    color: #666;
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    font-size: 14px;
}


/* demo style */

.demo-container {
    padding-top: 1.5rem;
}

.demo-container h1 {
    text-align: center;
}

.demo-container .functions {
    margin: 20px;
    padding: 10px;
}

.demo-container .functions p {
    padding-bottom: 10px;
}

.demo-container .functions .demo-btn {
    display: inline-block;
    margin-left: 10px;
    padding: 10px;
    background-color: #fd7d13;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #fff;
}

.demo-container .functions .demo-btn:hover {
    background-color: #dc8842;
}


/* 固定头部 */

.demo-container .fixed-header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 1.5rem;
    z-index: 2;
    background: #fff;
    text-align: center;
    line-height: 1.5rem;
    background-color: #fafafa;
    border-bottom: #ededed 1px solid;
}

.demo-container .fixed-header ul {
    display: flex;
    -webkit-display: flex;
    -moz-display: flex;
    width: 100%;
}

.demo-container .fixed-header ul li {
    flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
}

.demo-container .fixed-header ul li.title {
    flex: 2;
    -webkit-flex: flex;
    -moz-flex: flex;
    font-size: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    white-space: nowrap;
}